.top
  .top__title
    スマホゲーム『バンドリ！ガールズバンドパーティ！』における
    フリーライブの選曲をサポートするアプリです！
  .top__message
    皆さんは、楽曲選びに困ったことはありませんか？
    %br
    次何やろう？と悩み、長々と楽曲一覧をスクロールした経験があるのではないですか？
    %br
    そんなあなたのために条件に合わせて自動で選曲します！

  = link_to "始める！", "#"

  .top__song
    ＜楽曲一覧＞
    .top__song__list
      .top__song__list--original
        オリジナル楽曲
      .top__song__list--cover
        カバー楽曲