.top{
  // height: 100vh;
  // width: 100vw;
  &__title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  &__message{
    text-align: center;
    h3{
      font-weight: bold;
      color: red;
    }
    &--info{
      h2{
        font-size: 20px;
        font-weight: bold;
      }
      p{
        color: gray;
      }
    }
  }
  .form{
    width: 1080px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 auto;
    &-box{
      display: flex;
      margin-bottom: 20px;
      &__title{
        height: 32px;
        width: 88px;
        font-size: 20px;
        color: #fff;
        padding: 0px 3px;
        background-color: #696969;
        border-radius: 15px;
      }
      &__level{
        height: 32px;
        width: 88px;
        background-color: #ff1493;
        font-size: 20px;
        color: #fff;
        padding: 0px 3px;
        border-radius: 15px;
        margin-left: 10px;
      }
      &__list{
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        .check_box{
          height: 36px;
          font-size: 20px;
          padding-left: 10px;
          input[type=checkbox] {
            display: none; /* チェックボックスを非表示にする */
          }
          input[type="checkbox"]:checked + label {
            background: linear-gradient(rgba(255,20,147,0.3), rgb(255,20,147));/* マウス選択時の背景色を指定する */
            // color: #ffffff; /* マウス選択時のフォント色を指定する */
          }
          label {
            display: block; /* ブロックレベル要素化する */
            margin: 5px; /* ラベル外側の余白を指定する */
            height: 32px; /* ラベルの高さを指定する */
            text-align: center; /* テキストのセンタリングを指定する */
            line-height: 30px; /* 行の高さを指定する */
            padding-left: 5px; /* ラベル内左側の余白を指定する */
            padding-right: 5px; /* ラベル内右側の余白を指定する */
            cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
            color: #000; /* フォントの色を指定 */
            border: 2px solid #a9a9a9;/* ラベルの境界線を実線で指定する */
            border-radius: 5px; /* 角丸を指定する */
            &:hover{
              background-color: rgba(255,20,147,0.3);
            }
          }

        }
      }
      select{
        margin-left: 10px;
        cursor: pointer;
        &:hover{
          background-color: rgba(255,20,147,0.3);
        }
      }
    }
    .action{
      width: 320px;
      margin: 0 auto;
      display: flex;
      .render{
        display: block;
        height: 40px;
        width: 150px;
        background-color: #1e90ff;
        background: linear-gradient(rgba(30,144,255,0.3), rgb(30,30,255));
        border: 2px solid blue;
        border-radius: 10px;
        margin-right: 20px;
        font-size: 25px;
        font-weight: bolder;
        color: #fff;
        -webkit-text-stroke: 1px blue;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }

      }
      .submit{
        display: block;
        height: 40px;
        width: 150px;
        background: linear-gradient(rgba(255,20,147,0.4), rgb(255,20,147));
        border: 2px solid red;
        border-radius: 10px;
        font-size: 25px;
        font-weight: bolder;
        color: #fff;
        -webkit-text-stroke: 1px red;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}